
/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

#main{
 	height:600px
}

.infographicElement{
	background-image:url(http://upload.wikimedia.org/wikipedia/en/5/5c/Black_Box.svg);
	background-size: contain; 	
	background-repeat:no-repeat;
}

.calloutContainer {
height:auto;
width:auto;	
}

.infographicElement .triggerElement{
	height:40px;
	width:40px;
	background-color:red;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    opacity:0.05;
}

.callout{
	width:200px	;
	background-color:white;
	display: none;
    position: absolute;
}

#old_house.infographicElement{
	background-image: url(./../assets/old_house.svg); 
	height:300px;
	width:400px;
}

#old_car.infographicElement{
	background-image: url(./../assets/old_car.svg); 
	height:300px;
	position:relative;
	left:400px;
}








